<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

## Data Science Tools and Ecosystem

#### In this Notebook Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

#### Some of the commonly used libraries used by Data Scientists include:
* tensorflow
* numpy
* Panda
* SciPy

#### Data Science Tools
- SAS
- Apache Spark
- BigML

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# Arithmetic operations
code = compile("4 + 4", "<string>", "eval")
eval(code)
# Result: 8

9

In [3]:
code1 = compile("(6 + 7) * 2", "<string>", "eval")
eval(code1)
# Result: 26

26

In [4]:
import math
# Volume of a sphere
code2 = compile("6 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)
# Result: 98174.77042468103

98174.77042468103

#### This a simple arithmetic expression to mutiply then add integers

In [5]:
(4*4)+4
# Result: 20

20

#### This will convert 200 minutes to hours by diving by 60

In [ ]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 3.3333333333333335 hours

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: 
Bold text: **Objectives:** This course is helpful for students to learn data science with these programming languages. 
##### List popular languages for Data Science:

- Python
- R
- SQL

## Auther

Habibullah